body {
  background-color: rgb(224, 192, 176);
}

nav {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 50px;
  padding: 70px;
}

p {
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 20px;
  text-align: justify;
}
h3{
  margin-top: 30px;
}

.footer {
  text-align: center;
  background-color: inherit;
}

.content {
  background-color: inherit;
  padding: 10px;

}
